#
# Gitignore for Stage Fighter
#

# Visual Studio Files:
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
x64
stage_fighter.dir
Debug
Release

lib/

# CMake Stuff:
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake-build-debug/
cmake-build-minsizerel
cmake-build-release
cmake-build-relwithdebinfo


# Clion:
.idea
cmake-build-debug


